MVVMDemo.xcodeproj/project.pbxproj
MVVMDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MVVMDemo.xcodeproj/project.xcworkspace/xcuserdata/jeans.xcuserdatad/UserInterfaceState.xcuserstate
MVVMDemo.xcodeproj/xcuserdata/jeans.xcuserdatad/xcschemes/MVVMDemo.xcscheme
MVVMDemo.xcodeproj/xcuserdata/jeans.xcuserdatad/xcschemes/xcschememanagement.plist
